* {
  font-family: 'Josefin Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
  padding: 15px;
  max-height: ;
}

.App-header a {
  text-decoration: none;
  color: black;
}

.App-link {
  color: #09d3ac;
}

.date {
  border-radius: 8px;
  padding: 10px;
  background-color: white;
}

.display-lists {
  background-color: #ebdccb;
  height: 100vh;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 4fr 4fr;
}

.list,
.schedule {
  background-color: white;
}

.mantra {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 5px;
}

.list {
  border: 1px solid black;
  border-radius: 5px;
  min-height: 200px;
  /* min-width: 300px; */
  padding: 0 10px;
  margin: 5px;
}

.schedule {
  grid-column: 3 / 4;
  grid-row: 1 / 5;
  /* border-left: 1px solid black; */
  /* border-radius: 5px; */
  height: 100vh;
  padding: 0 10px;
  margin: 5px;
  /* max-height: calc(100vh - 9rem); */
  overflow-y: auto;
  background-color: whitesmoke;
}

